html, body{
  height: 100%;
  width: 100%;
}
hr {
max-width: 100px;
border-width: thick;
border-color: rgba(200,50,50,0.5);
}

header.startup{
  background-position: center;
  background-image: url("header2.jpg");
  background-size: cover;
  height: 100%;
}
